*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  
  cursor: pointer;
}